
html
	head
		title ViriCiti Vue App
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
	body
		h1 The Assignment
		img(src="https://a0ee3b23e17fa90b3191-5fc7b0e1cd9809d68b1e634750979c1d.ssl.cf3.rackcdn.com/36/14/99/2/viriciti-b-v-kabelweg-57-amsterdam.jpg")
		div 
			p Current Speed
		div 
			p 30 km/h data.speed
		div 
			p State of Charge
		div 
			p 80 %
		div 
			p Energy
			p 55.05 KW
		div 
			p Odometer
			p 88528.151 km
